In [1]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.6-cp39-cp39-win_amd64.whl (1.2 MB)
     ---------------------------------------- 1.2/1.2 MB 5.0 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.6
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: C:\Users\stutl\anaconda3\python.exe -m pip install --upgrade pip

In [17]:
import psycopg2 as psycopg2
import pandas.io.sql as psql

In [18]:
conn = psycopg2.connect(database="Framingham-Raw",
                        host="",
                        user="",
                        password="",
                        port="5432")

In [14]:
# create a cursor
cur = conn.cursor()
        
# execute a statement
print('PostgreSQL database version:')
cur.execute('SELECT version()')

# display the PostgreSQL database server version
db_version = cur.fetchone()
print(db_version)

PostgreSQL database version:
('PostgreSQL 12.7 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 7.3.1 20180712 (Red Hat 7.3.1-12), 64-bit',)

In [19]:
demog_df = psql.read_sql("SELECT * FROM demog", conn)

C:\Users\stutl\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [16]:
#DONT RUN THIS BLOCK
#demog_df=cur.execute('select * from demog')
#demog = cur.execute("SELECT * FROM demog")

#cur.execute("select * FROM demog")
#demog_df = DataFrame(cur.fetchall(), columns=['instrument', 'price', 'date']) column names here arent updated this is eg
#demog_df = DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])

NameError: name 'DataFrame' is not defined

In [22]:
demog_df.head()

   patientid male  age currentsmoker cigsperday bpmeds tenyearchd
0          1    1   39             0          0      0          0
1          2    0   46             0          0      0          0
2          3    1   48             1         20      0          0
3          4    0   61             1         30      0          1
4          5    0   46             1         23      0          0

In [23]:
measures_df = psql.read_sql("SELECT * FROM measures", conn)

C:\Users\stutl\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [24]:
measures_df.head()

   patientid totchol  sysbp  diabp    bmi heartrate
0          1     195  106.0   70.0  26.97        80
1          2     250  121.0   81.0  28.73        95
2          3     245  127.5   80.0  25.34        75
3          4     225  150.0   95.0  28.58        65
4          5     285  130.0   84.0   23.1        85

In [11]:
# close the communication with the PostgreSQL
cur.close()